body {
  margin: 0;
  overflow: auto;
}

#mod-container {
  white-space: pre;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center ;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  width:100%;
}

.tag-background {
  padding: 2px 2px 2px 2px;
  border: 1px solid transparent;
  border-radius: 16px;
  margin: 4px 2px;
}

.tag-background:hover {
  border: 1px solid #9B9FAB;
}

.tag {
  font-weight:bold;
  padding: 2px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor:default;
  border-radius: 16px;
  background-color: #f2f5fc;
  color: #61646B;
}

.tag.all-marked {
  background-color: var(--marking-color, #ebefff);
  color:#3050Ef;
}

.tag.some-marked {
  background-color: var(--marking-color, #ebefff);
}

div#mod-container.marked div.tag:not(.marked) {
  color: #9B9FAB;
}
